body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF3E0;
    color: #333;
    margin: 0;
    padding: 0;
}

header .navbar-brand {
    font-weight: bold;
    color: #800080;
}

.hero {
    background-image: url('https://i.imgur.com/ooftgv6.jpg');
    background-size: cover;
